@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    /* background-color: #15211f; */
}
@media screen and (min-width: 768px) {
    :root {
      margin-left: 15%;
      margin-right: 15%;
      background-color: #15211F;
    }
}  
.contain {
    @apply container mx-auto px-4 flex flex-col items-center justify-center;
}

.card {
    @apply bg-red-100 rounded shadow m-4 p-4;
}

.h-scroll {
    @apply flex flex-nowrap;
}
